@model Dentistry.Models.Reception

@{
	ViewData["Title"] = "Добавить";
}

<h1>
	<p align="center">Добавление приёма</p>
</h1>

<hr />
<div>
	<div>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="DoctorId" class="loginlabel">Доктор</label>
				<select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
			</div>
			<div class="form-group">
				<label asp-for="PatientId" class="loginlabel">Пациент</label>
				<select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
			</div>
			<div class="form-group">
				<label asp-for="Cabinet" class="loginlabel">Кабинет</label>
				<input asp-for="Cabinet" class="form-control" />
				<span asp-validation-for="Cabinet" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="loginlabel">Дата приёма</label>
				<input asp-for="Date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Time" class="loginlabel">Время приёма</label>
				<input asp-for="Time" class="form-control" />
				<span asp-validation-for="Time" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="loginlabel">Статус приёма</label>
				<input asp-for="Status" class="form-control" />
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<div style="text-align:center; padding-top:10px">
				<input type="submit" value="Добавить" class="edt" />
				<a asp-asp-controller="Reception" asp-action="Index" class="edt" style="background-color:#0d6efd">К списку приёмов</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
