<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]- "Стоматология"</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Dentistry.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav>
			<a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a> /
			<a class="text-dark" asp-area="" asp-controller="Receptions" asp-action="Index">Приёмы</a> /
			<a class="text-dark" asp-area="" asp-controller="Patients" asp-action="Index">Пациенты</a> / 
			<a class="text-dark" asp-area="" asp-controller="Doctors" asp-action="Index">Доктора</a> / 
			<partial name="_LoginPartial" /> 
		</nav>
	</header>
	<div>
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
